<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой первый сайт на Python</title>
    <link rel="stylesheet" href="{{ url_for('static',filename= 'style.css')}}">
</head>
<body>
    <h1>Мой первый сайт на Python</h1>
    <p>Введите фразу о своем настроении. ИИ подберите фильм.</p>
    <form method="post">
        <label for="message">Напиши, как ты себя чувствуешь:</label>
        <textarea name="message" id="message" rows="4" cols="50" placeholder="Например: Сегодня у меня хорошее настроение">
            {{user_text}}
        </textarea>
        <button type="submit">Отправить</button>
    </form>
    <p>После отправки тебя направит на страницу с ответом сервера.</p>

    {% if recommendation %}
    <div class="result">
        <h3>Результат:</h3>
        <p>{{recommendation|safe}}</p>
    </div>
    {% endif %}
</body>
</html>